body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

.logo {
    background-image: url('img/dance.gif');
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
} 
.empty_title{
    font-size: 1rem;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.empty_content{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #ccc;
    position: absolute;
    top: calc(50% + 3em);
    left: 50%;
    transform: translate(-50%, -50%);
} 

.post{
    width: calc(50% - 16px);
    position: relative;
    @media (min-width: 720px) {
        width: calc(33% - 16px);
    }
    @media (min-width: 768px) {
        width: calc(25% - 16px);
    }
    @media (min-width: 1440px) {
        width: calc(12.5% - 16px);
    }
    
    margin: 8px;

    h1{
        margin: auto;
        text-align: center;
    }
    h3{
        text-align: left;
        font-size: 12px;
    }
    h3:first-of-type:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .tags{
        font-size: 10px;
        color: #ccc;
        font-weight: 400;
        margin-top: -5px;
    }
    img{
        width: 100%;
        border-radius: 30px;
        border: #f8f8f8 1px solid;
    }
    
}
.optionIcon{
    width: 24px !important;
    height: 24px;
    position: absolute;
    right: 14px;
    top: 8px;
    border: none !important;
    opacity: 0.4;
    &:hover{
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

#OptionDel{
    top: 62px;
    border: none;
    opacity: 0.65;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

#OptionEdit{
    top: 34px;
    border: none !important;
    opacity: 0.65;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.postContainer{
    display: flex;
    flex-wrap: wrap;
}

.createContainer{
    width: 400px;
    margin: auto;
    input{
        font-family: 'Courier New', Courier, monospace;
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 40px;
        border: none;
        border-bottom: 1px solid #979797;
        transition: border-bottom 0.05s;
    }
    input::placeholder{
        font-size: 24px;
        color: #e0e0e0;
        padding-bottom: 5px;
    }
    input:focus{
        font-size: 24px;
        border-bottom: 2px solid #333;
        outline: none;
    }
    label{
        display: grid;
        margin-bottom: 16px;
        text-align: left;
        font-size: 12px;
        color: #979797;
    }
}

:root {
    text-size-adjust: 100%;
  }

.active {
    color: #ffe3e3;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li{
    margin: 0 10px;
}

nav{
    margin-bottom: 60px;
}

.navUL{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    a {
        margin: auto;
    }
    :active, .active, :visited, :target{
        color: black;
        text-decoration: none;
    }
}

H1{
    font-family: 'Courier New', Courier, monospace;
}

.postImg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 225px;
    background: #f7f7f7;
    border-radius: 30px;
    align-items: flex-start;
}

.postImgButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: transform 0.15s;
    
    &:hover {
      transform: scale(1.02);
    }
  }

.postDetailImg{
    h1{
        background: #eee;
        padding: 80px 30px;
        border-radius: 30px;
    }
}
.postDetailContainer{
    display: flex;
    justify-content: center;
    h3{
        font-size: 13px;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
    }
    img{
        height: 50vh;
        border-radius: 30px;
        margin-bottom: 12px;
    }
    .detailTitle{
        width: 50vw;
        max-width: 500px;
        margin: 25px auto 15px;
        @media (max-width: 720px) {
            margin-left: 30px;
            width: 80%;
            min-width: 300px;
        }
    }
    .detailContent{
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        width: 40vw;
        max-width: 400px;
        margin: auto;
        transform: translateX(10px);
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        @media (max-width: 720px) {
            width: 80%;
            min-width: 300px;
        }
    }
    .detailTag{
        font-weight: 500;
        font-size: 13px;
        color: #adadad;
        width: 50vw;
        max-width: 500px;
        margin: 25px auto 15px;
        @media (max-width: 720px) {
            margin-left: 30px;
            width: 80%;
            min-width: 300px;
        }
    }
}

.postDtail{
    width: 100%;
}

.createBTN{
    width: 56px;
    height: 56px;
    position: fixed;
    right: 32px;
    bottom: 32px;
    border-radius: 32px;
    transition: transform 0.15s;
    box-shadow: 5px 8px 25px 0px rgba(0, 0, 0, 0.4);
    z-index: 999;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
    }
}

#content{
    border: none;
    border-bottom: 1px solid #979797;;
    
}
textarea::placeholder{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #e0e0e0;
    font-weight: 300;
}
#img{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
#create, #update{
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    color: white;
    background: black;
    height: 40px;
    width: 400px;
    &:hover{
        cursor: pointer;
    }
}

#cancel{
    border: none;
    background: none;
    color: #bababa;
    margin-top: 16px;
    &:hover{
        cursor: pointer;
    }
}

#edit{
    text-align: center;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 45px;
    height: 40px;
    width: 64px;
    &:hover{
        cursor: pointer;
    }
}